<app-header class="fixed-top"></app-header>

<header class="top-content">
  <div class="container-md">
    <div class="row">
      <div class="col-md-6 col-sm-12 texto">
        <h1 class="titulo">
          Belajar Skill <br>
          degan <br>
          Mentor Expert
        </h1>
        <p class="paragrafro">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit , sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut
          <br>enim ad minim veniam, quis nostrud exercitation ullamco
          <br> laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="row">
          <div class="col-md-6 col-sm-12 a">
            <a href="" class="button1">
              Cari Kelas
            </a>
          </div>
          <div class="col-md-6 col-sm-12 a">
            <a href="" class="button2">
              Promo 70%
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <img class="img d-none d-sm-block" src="../../../assets/imagens/_header/image 1.png" alt="Woman smilling to life">
      </div>
    </div>
  </div>
</header>

<main class="second-content">
  <div class="container">
    <div class="d-sm-flex justify-content-between align-items-center">
      <section >
        <img src="../../../assets/imagens/_main/Harivideo Certification 1.png" alt="a men seeing your Certification of completion">
      </section>
      <section class="d-flex align-items-end flex-column">
        <h1 class="titulo2">
          &nbsp;Gabung Kelas dan<br>
           Dapatkan <span class="sp">Sertifikat</span>
        </h1>
        <p>
          Lorem ipsum dolor sit amet , consectetur adipiscing elit , sed do
          <br>
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        </p>
        <div class="bt">
          <a href="" class="button2">
             Promo 70%
          </a>
        </div>
      </section>
    </div>
  </div>
</main>

<section class="tird-content">
  <app-cards></app-cards>
</section>

<div class="container">
  <section class="e">
    <h1 class="titulo2">Dapatkan <span class="sp">Points</span> Setiap Selesai Kelas</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim <br>
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing <br>
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris<br> nisi
         ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
         <div style="padding-top: 25px;" class="bt text-center">
          <a href="" class="button2">
             Promo 70%
          </a>
        </div>
  </section>
</div>

<app-footer></app-footer>
