
.paragrafo{
  background-color: #721B65;
  color: #FFF;
  font-weight: 600;
  margin-top: -40px;
  position: relative;
}
.carde{
  width: 350px;
  height: 400px;
}
.e{
  padding-bottom: 25px;
}
.texto{
  color:#721B65;
  font-size: 47px;
  padding-top: 25px;
  padding-bottom: 20px;
  font-weight: 500;
}
